{% extends "baseList.html"%}
{% set pageKey = "caiwu" %}
{% set subPageKey = "caiwu_account_flow" %}

{% block pagename %}
帐务流水
{% endblock %}

{% block listhead %}
<th width="8%" scope="col">账户名</th>
<th width="12%" scope="col">金额</th>
<th width="5%" scope="col">状态</th>
<th width="7%" scope="col">帐务类型</th>
<th width="14%" scope="col">时间</th>
<th width="47%" scope="col">备注</th>
<th width="5%" scope="col">操作</th>
{% endblock %}

{% block listcontent %}
{% for r in objectList %}
<tr>
    <td scope="col">
        <input type="checkbox" value="{{r.id}}" name="checkbox2" id="checkbox2" />
    </td>
    <td scope="col">
        {{ r.accountName }}
    </td>
    <td scope="col">
        {% if r.money < 0 %}<span style="color:#FF0000">支出:{{ -r.money }}{%else%}<span style="color:#5D8B01">收入:{{ r.money }}{%endif%}</span>
    </td>
    <td>
        {% if r.status == None or r.status == 0%}<span style="color:#FF0000">未确认{%endif%}
        {% if r.status == 1%}<span style="color:#5D8B01">已确认{%endif%}</span>
    </td>
    <td scope="col">
        {{ "" if r.flowTypeName == None else r.flowTypeName }}
    </td>
    <td scope="col">
        {{ r.createTime|datetime("%Y-%m-%d %H:%M:%S")}}
    </td>
    <td scope="col">
        {{ r.memo }}
    </td>
    <td>
        {% if r.status == None or r.status == 0%}
        <a href="javascript:confirmFlow('{{r.id}}');" >确认</a>
        {%endif%}
    </td>
</tr>
{% endfor %}
{% endblock %}

{% block head %}
<script type="text/javascript">
 function confirmFlow(flowIds){
    if (confirm("确认账单！")){
        $.ajax({
            type: "POST",
            url: "/action/confirmFlow?&m=" + Math.random(),
            data: {flowIds: flowIds}, 
            success : function(data){
                if (data){
                    data = eval("(" + data + ")");
                    if (data){
                        if (data.code == "ok"){
                            alert("确认成功")
                            window.location.reload();
                        } else if (data.msg){
                            alert("确认失败 " + data.msg);
                        } else {
                            alert("确认失败！");
                        }
                    }
                }
            },
            error: function(data){
                alert("确认失败！")
            }
        });
    }
 }
</script>
{% endblock %}

{% block addbutton %}
<div class="search">
    <select id="searchStatus" class="select" style="min-width:0px">
        <option value="-1">全部</option>
        <option value="0" {% if request.args.get('status') =="0"%} selected="selected" {% endif %}>未确认</option>
        <option value="1" {% if request.args.get('status') =="1"%} selected="selected" {% endif %}>已确认</option>
    </select>
    <input type="button" class="submit" onclick="search()" value="查询"/>
    <input type="button" class="submit" onclick="batchConfirm()" value="确认"/>
    <!--<input type="button" class="submit" onclick="window.location.href='/page/{{ itemName }}/edit/new?{{request.query_string.decode('utf-8')}}'" value="新建" /> -->

    <script type="text/javascript">
     function search(){
         var search = "";
         if ($("#searchStatus").val() != "-1"){
             if (search){
                 search += "&status=" + $("#searchStatus").val();
             } else {
                 search += "?status=" + $("#searchStatus").val();
             }
         }
         window.location.href = window.location.pathname + search;
     }
     function batchConfirm(){
         var flowIds = "";
         $("table tr td input[type=checkbox]").each(function(){
             if ($(this).is(":checked") && $(this).val()){
                 flowIds += $(this).val() + ",";
             }
         });
         if (!flowIds){
             alert("请选择需要确认的流水！");
         }else {
             confirmFlow(flowIds);
         }
     }
    </script>
</div>
{% endblock %}
