{% extends "baseEdit.html"%}
{% set pageKey = "jichushuju" %}
{% set subPageKey = "jichushuju_ext_account" %}

{% block edithead %}
<h2>外部账户</h2>
{% endblock%}
{% block editbody %}
<p>
    <label for="selectCompanyId">公司:</label>
    <select id="selectCompanyId" name="selectCompanyId" class="select" fdata="fdata" fdata-type="string" fdata-column="companyId">
        {% for company in objectForeignList["companyId"] %}
        <option value="{{company.id}}" {% if company.id==objectEdit.companyId %}selected="selected" {% endif %}>{{company.name}}</option>
        {% endfor %}
    </select>
</p>
<p>
    <label>账户名:</label>
    <input type="text" class="text small w100" fdata="fdata" fdata-type="string" fdata-column="name" value="{{objectEdit.name}}" /> 
    <span class="valid">请输入账户名</span>
</p>
<p>
    <label>账户:</label>
    <input type="text" class="text" fdata="fdata" fdata-type="string" fdata-column="account" value="{{objectEdit.account}}" /> 
    <span class="valid">请输入账户</span>
</p>
{% endblock %}
