{% extends "baseList.html"%}
{% set pageKey = "jitiao" %}
{% set subPageKey = "jitiao_profit_item_type" %}

{% block pagename %}
收/付款项目
{% endblock %}

{% block listhead %}
<th width="87%" scope="col">项目</th>
<th width="8%" scope="col">操作</th>
{% endblock %}

{% block listcontent %}
{% for r in objectList %}
<tr>
    <td scope="col">
        <input type="checkbox" name="checkbox2" id="checkbox2" />
    </td>
    <td scope="col">
        {{ r.name }}
    </td>
    <td scope="col">
        <a href="/page/{{itemName}}/edit/{{r.id}}" >编辑</a>
        <a href="javascript:delData('{{itemName}}', '{{r.id}}')">删除</a>
    </td>
</tr>
{% endfor %}
{% endblock %}
