{% extends "baseStatistical.html"%}
{% set pageKey = "tongji" %}
{% set subPageKey = "tongji_lirun"%}

{% block body %}
<form method="post" id="searchForm" action="/page/profit/statistical">
    <table class="condition" style="width:100%">
        <tr>
            <td>
                <label>录入时间：</label>
                <input type="text" name="createBeginTime" class="text w100 datepicker" value="{{"" if request.form.get("createBeginTime") == None else request.form.get("createBeginTime")}}" />-<input type="text" name="createEndTime" class="text w100 datepicker" value="{{"" if request.form.get("createEndTime") == None else request.form.get("createEndTime")}}" />
                <label>出发时间：</label>
                <input type="text" name="departBeginTime" class="text w100 datepicker" value="{{"" if request.form.get("departBeginTime") == None else request.form.get("departBeginTime")}}" />-<input type="text" name="departEndTime" class="text w100 datepicker" value="{{"" if request.form.get("departEndTime") == None else request.form.get("departEndTime")}}" />
            </td>
            <td rowspan="2" style="vertical-align: middle">
                <input type="button" class="submit" value="查询" id="btnSearch" onclick="$('form#searchForm').attr('action', '/page/profit/statistical'); $('form#searchForm').submit();" />
                <input type="button" class="submit" value="导出" id="btnSearch" onclick="$('form#searchForm').attr('action', '/page/profitProfit/export_xls'); $('form#searchForm').submit();"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>领队：</label>
                <input type="text" class="text w100" name="leader" value="{{"" if request.form.get("leader") == None else request.form.get("leader")}}" />
                <label>线路：</label>
                <input type="text" class="text w200" name="lineName" value="{{"" if request.form.get("lineName") == None else request.form.get("lineName")}}" />
                <label>状态：</label>
                <select class="select" name="status">
                    <option value="-1">全部</option>
                    <option value="0" {% if request.form.get('status') =="0"%} selected="selected" {% endif %}>未提交</option>
                    <option value="1" {% if request.form.get('status') =="1"%} selected="selected" {% endif %}>已提交</option>
                    <option value="2" {% if request.form.get('status') =="2"%} selected="selected" {% endif %}>已审核</option>
                </select>
            </td>
        </tr>
    </table>
</form>
<table border="0px" cellpadding="0" cellspacing="0" width="100%" style="margin: 0 auto;">
    <tr>
        <td>线路</td>
        <td>时间</td>
        <td>人数</td>
        <td>录入时间</td>
        <td>领队</td>
        <td>收入</td>
        <td>支出</td>
        <td>利润</td>
    </tr>
    {% for r in objectStatistical["result"]%}
    <tr>
        <td>{{r["line"]}}</td>
        <td>{{r["departTime"]}}</td>
        <td>{{r["peopleNum"]}}</td>
        <td>{{r["createTime"]}}</td>
        <td>{{r["leader"]}}</td>
        <td>{{r["income"]}}</td>
        <td>{{r["export"]}}</td>
        <td>{{r["profit"]}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="7">总计</td>
        <td>{%for r in objectStatistical["resultTotal"]%}{{r["profit"]}}{%endfor%}</td>
    </tr>
</table>
{% endblock %}
